<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserIdeaContext" connectionString="Server=LAPTOP-Q0EAJ4ES\SQLEXPRESS;Database=FlowingIdeas_Real;Integrated Security=true;Encrypt=false;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>